@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button type="button" class="btn btn-primary">Вход</button>
            <button type="button" class="btn btn-primary">Регистрация</button>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />