@page "/"

<div style="he">
    <p>
        <img src="images/shapka.jpg" style="width: 100%;" alt="Шапка сайта">
    </p>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Тарифы<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Контакты</a>                
            </div>
        </div>
    </nav>
</div>

@code {

}
